*.swp
dist
README.html
Test.log
static/css/
logs
target
.metals
.idea
.bsp
/project
node_modules
.angular
/.bloop
/solrhome/scmindex/data
/client/cli/out
*.log
scheme-index-app/src/assets/filters.json
scheme-index-app/src/assets/types.json
